.spinner-container-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.centered-message {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    text-align: center;
}