.app-navbar {
    background-color: #002b80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}
h1 {
    color: white;
}

.navbar-brand img {
    height: 3em;
    margin-right: 1em;
}

.hover-lined {
    color: #EEE;
}