.app-navbar {
    background-color: #002b80;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 25px;
}
.navbar-brand h1 {
    color: white;
    font-size: 1.5em;
}

.navbar-brand img {
    height: 3em;
    margin-right: 1em;
}

.nav {
    margin-left: auto;
    margin-right: 3em;
    display: flex;
    align-items: center;
}

.hover-lined {
    color: white;
    font-size: 1.25em;
    margin-left: 15px;
}

.hover-lined:hover {
    color: white;
    font-size: 1.25em;
    margin-left: 15px;
    text-decoration: underline;
}

.logo {
    height: 2em;
    width: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-inline: 2em;
}